@import url('./header.css');
@import url('./descricao.css');
@import url('./bemvindo.css');
@import url('./portfolio.css');
@import url('./servicos.css');
@import url('./botoes.css');
@import url('./footer.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&display=swap');



:root{
    font-size: 16px;
}

* {
    font-family: 'Source Sans Pro';
    margin: 0;
    box-sizing: border-box;

}